[Unit]
Description=Prometheus Node Metrics Exporter
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/machine-metrics-exporter
Type=simple
